body{
 	background: url(../imagenes/fondo2.jpg) no-repeat fixed center center;
 	background-size: cover;
 	font-family: sans-serif;
}

.padding-largo{
	padding: 5px 10px;
}

.nav-color{
	background-color: #BF9056;
	box-shadow: 2px 2px 5px #999;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
	font-family: 'Nunito';
}
div{
	font-family: 'Lato';
	font-size: 1.5em;
}

.crear1{
	margin-top: 40px;
	padding-top: 20px;
	padding-left: 10px;
	width: 550px;
	height: 450px;
    background:rgba(235,235,205,0.7);
    border-radius:4px;
	margin-left: auto;
	margin-right: auto;
}
.pacifico{
	font-family: 'Pacifico';
	font-size: 2em;
}
.color{
    color: #C34208;
}
.color2{
	color: #0AC986;
}

.boton{
    background-color: #BF7E4C;

}
.form-control:focus, .form-control:focus + .fa{
  border-color:#10CE88;
  color:#10CE88;
}
#reg-btn{
    background:#0AC986;
    border-radius:4px;
    color: #eee;

}

#div-principal{
	background:rgba(235,235,205,0.7);
	padding: 15px 30px;
	height: 100%;
	margin-top: 40px;
	margin-left: 40px;
	border-radius:4px;
}

#div-secundario{
	background:rgba(235,235,205,0.7);
	height: 100%;
	margin-left: 150px;
	margin-top: 40px;
	border-radius:4px;
}
.div-form1{
	margin-top: 10px;
}
#Fecha{
	margin-top: 10px;
	float: none;
	margin-left: -15px;
	width: 280px;
	border-radius:4px;
	box-shadow: 2px 2px 5px #999;
}
#postear{
	margin-top: 10px;
	background:#0AC986;
	height: 50px;
    border-radius:4px;
    color: #eee;
	box-shadow: 2px 2px 5px #999;
}
.textarea{
	box-shadow: 2px 2px 5px #999;
	border-radius:4px;
	height: 200px;
	margin-top: 10px;
}