body{
 	background: url(../imagenes/fondo2.jpg) no-repeat fixed center center;
 	background-size: cover;
 	font-family: sans-serif;
}

.padding-largo{
	padding: 5px 10px;
}

.nav-color{
	background-color: #BF9056;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
	font-family: 'Nunito';
}
div{
	font-family: 'Lato';
	font-size: 1.5em;
}

.crear1{
	margin-top: 40px;
	padding-top: 20px;
	padding-left: 10px;
	width: 550px;
	height: 450px;
    background:rgba(235,235,205,0.7);
    border-radius:4px;
	margin-left: auto;
	margin-right: auto;
}
.pacifico{
	font-family: 'Pacifico';
	font-size: 2em;
}
.color{
    color: #C34208;
}

.boton{
    background-color: #BF7E4C;

}
.form-control:focus, .form-control:focus + .fa{
  border-color:#10CE88;
  color:#10CE88;
}
#reg-btn{
    background:#BF9056;
    border-radius:4px;
    color: #C34208;

}